div.container-fluid

    p The MicroFrontendIO initiative serves as a POC for a micro-frontend architecture based on server-side includes and web components to stitch together various frontends into a cohesive whole.

    p What you see here is a fruition of that vision.

    p This will serve as a gateway to all of my personal projects. To see all of my projects, head over to my &nbsp;
        a(href='https://github.com/jahid90') Github 
        span &nbsp; page.
