footer.bg-light.py-2
    p.footer-copyright.text-center &copy; 2021 Copyright MicroFrontend.Inc. All rights reserved.
    p.text-center Developed by &nbsp;
        a(href='https://github.com/jahid90') Jahid
