nav.navbar.navbar-light.bg-light.navbar-expand-lg
    div.container-fluid
        a.navbar-brand(href='http://frontend.jahiduls.local') MicroFrontendIO
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarAltMarkup' aria-controls='navbarAltMarkup' aria-expanded='false' aria-label='Toggle Navigation')
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarAltMarkup
            div.navbar-nav
                a.nav-link(href='/') Home
                a.nav-link(href='/foo') Foo
                a.nav-link(href='/todos') Todos
                a.nav-link(href='/minance') Minance
                a.nav-link(href='/about') About
